[Unit]
Description=Celery Worker for Lepsze Życie Club
After=network.target redis.service postgresql.service

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/klublepszezycie
Environment=FLASK_APP=app
Environment=FLASK_ENV=production
ExecStart=/var/www/klublepszezycie/.venv/bin/celery -A celery_app worker --loglevel=error --concurrency=1 --queues=email_queue,event_queue --max-memory-per-child=50000 --max-tasks-per-child=5 --without-gossip --without-mingle --without-heartbeat --pool=solo
Restart=always
RestartSec=5
# Monitoring RAM - bardziej agresywne limity
MemoryLimit=80M
MemoryAccounting=yes
# Dodatkowe zabezpieczenia
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
